In [1]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

In [2]:
combi = pd.read_csv('/Users/michael/Downloads/training_data(1).csv', engine = 'python')
print(combi.shape)

combi.head()

(503419, 3)

   Unnamed: 0                                              tweet  label
0           1    #ThingsDoneByMistake kissing auntie in the lips      1
1           2  RT @mc_derpin: #TheOlderWeGet the more pessimi...      1
2           3  RT @dmataconis: Ready To Feel Like A Failure? ...      1
3           4    Amen! #blacklivesmatter https://t.co/wGffaOqgzl      1
4           5  RT @NahBabyNah: Twitchy: Chuck Todd caught out...      1

In [3]:
combi['word_count'] = combi['tweet'].apply(lambda x: len(str(x).split(" ")))
combi[['tweet','word_count']].head()

                                               tweet  word_count
0    #ThingsDoneByMistake kissing auntie in the lips           6
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...           9
2  RT @dmataconis: Ready To Feel Like A Failure? ...          22
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl           3
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...          18

In [4]:
combi['char_count'] = combi['tweet'].str.len() ## this also includes spaces
combi[['tweet','char_count']].head()

                                               tweet  char_count
0    #ThingsDoneByMistake kissing auntie in the lips          47
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...          81
2  RT @dmataconis: Ready To Feel Like A Failure? ...         125
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl          47
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...         140

In [5]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

combi['avg_word'] = combi['tweet'].apply(lambda x: avg_word(x))
combi[['tweet','avg_word']].head()

                                               tweet   avg_word
0    #ThingsDoneByMistake kissing auntie in the lips   7.000000
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...   8.111111
2  RT @dmataconis: Ready To Feel Like A Failure? ...   4.727273
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl  15.000000
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...   6.421053

In [6]:
from nltk.corpus import stopwords
#nltk.download()
stop = stopwords.words('english')

combi['stopwords'] = combi['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
combi[['tweet','stopwords']].head()

                                               tweet  stopwords
0    #ThingsDoneByMistake kissing auntie in the lips          2
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...          4
2  RT @dmataconis: Ready To Feel Like A Failure? ...          0
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl          0
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...          3

In [7]:
combi['hastags'] = combi['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
combi[['tweet','hastags']].head()

                                               tweet  hastags
0    #ThingsDoneByMistake kissing auntie in the lips        1
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...        1
2  RT @dmataconis: Ready To Feel Like A Failure? ...        0
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl        1
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...        1

In [8]:
combi['numerics'] = combi['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
combi[['tweet','numerics']].head()

                                               tweet  numerics
0    #ThingsDoneByMistake kissing auntie in the lips         0
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...         0
2  RT @dmataconis: Ready To Feel Like A Failure? ...         1
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl         0
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...         0

In [9]:
combi['upper'] = combi['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
combi[['tweet','upper']].head()

                                               tweet  upper
0    #ThingsDoneByMistake kissing auntie in the lips      0
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...      1
2  RT @dmataconis: Ready To Feel Like A Failure? ...      2
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl      0
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...      2

In [10]:
combi['tweet'] = combi['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
combi['tweet'].head()

0      #thingsdonebymistake kissing auntie in the lips
1    rt @mc_derpin: #theolderweget the more pessimi...
2    rt @dmataconis: ready to feel like a failure? ...
3      amen! #blacklivesmatter https://t.co/wgffaoqgzl
4    rt @nahbabynah: twitchy: chuck todd caught out...
Name: tweet, dtype: object

In [11]:
combi['tweet'] = combi['tweet'].str.replace('[^\w\s]','')
combi['tweet'].head()

0       thingsdonebymistake kissing auntie in the lips
1    rt mc_derpin theolderweget the more pessimisti...
2    rt dmataconis ready to feel like a failure joa...
3             amen blacklivesmatter httpstcowgffaoqgzl
4    rt nahbabynah twitchy chuck todd caught out th...
Name: tweet, dtype: object

In [12]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
combi['tweet'] = combi['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
combi['tweet'].head()

0              thingsdonebymistake kissing auntie lips
1    rt mc_derpin theolderweget pessimistic httpstc...
2    rt dmataconis ready feel like failure joan arc...
3             amen blacklivesmatter httpstcowgffaoqgzl
4    rt nahbabynah twitchy chuck todd caught shilli...
Name: tweet, dtype: object

In [13]:
from textblob import TextBlob
combi['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0              thingsdonebymistake kissing auntie lips
1    it mc_derpin theolderweget pessimistic httpstc...
2    it dmataconis ready feel like failure joan arc...
3             amen blacklivesmatter httpstcowgffaoqgzl
4    it nahbabynah twitch chuck told caught shillin...
Name: tweet, dtype: object

In [14]:
TextBlob(combi['tweet'][1]).words

WordList(['rt', 'mc_derpin', 'theolderweget', 'pessimistic', 'httpstcozs3jhzjl8p'])

In [15]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
combi['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                    thingsdonebymistak kiss aunti lip
1    rt mc_derpin theolderweget pessimist httpstcoz...
2    rt dmataconi readi feel like failur joan arc 1...
3               amen blacklivesmatt httpstcowgffaoqgzl
4    rt nahbabynah twitchi chuck todd caught shill ...
Name: tweet, dtype: object

In [16]:
from textblob import Word
combi['tweet'] = combi['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
combi['tweet'].head()

0               thingsdonebymistake kissing auntie lip
1    rt mc_derpin theolderweget pessimistic httpstc...
2    rt dmataconis ready feel like failure joan arc...
3             amen blacklivesmatter httpstcowgffaoqgzl
4    rt nahbabynah twitchy chuck todd caught shilli...
Name: tweet, dtype: object

In [17]:
TextBlob(combi['tweet'][0]).ngrams(2)

[WordList(['thingsdonebymistake', 'kissing']),
 WordList(['kissing', 'auntie']),
 WordList(['auntie', 'lip'])]

In [18]:
tf1 = (combi['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

                words  tf
0       theolderweget   1
1           mc_derpin   1
2         pessimistic   1
3                  rt   1
4  httpstcozs3jhzjl8p   1

In [19]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(combi.shape[0]/(len(combi[combi['tweet'].str.contains(word)])))

tf1

                words  tf        idf
0       theolderweget   1  10.133446
1           mc_derpin   1   9.951124
2         pessimistic   1  10.644271
3                  rt   1   0.991598
4  httpstcozs3jhzjl8p   1  13.129178

In [20]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

                words  tf        idf      tfidf
0       theolderweget   1  10.133446  10.133446
1           mc_derpin   1   9.951124   9.951124
2         pessimistic   1  10.644271  10.644271
3                  rt   1   0.991598   0.991598
4  httpstcozs3jhzjl8p   1  13.129178  13.129178

In [65]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,2))
train_vect = tfidf.fit_transform(combi['tweet'])
train_vect



#pd.DataFrame(train_vect.toarray(), columns=tfidf.get_feature_names())

<503419x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 2009922 stored elements in Compressed Sparse Row format>

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(combi['tweet'])

pd.DataFrame(train_bow.toarray(), columns=bow.get_feature_names())

,10,100,12,15,1st,20,2016,2016in4words,2017,2a,...,yo,york,youd,youll,young,youre,youtube,youve,yr,yup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503389,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
503390,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503391,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503392,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503395,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503396,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503401,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503402,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503403,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503404,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503409,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503412,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503415,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503417,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
combi['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)

0                     (0.0, 0.0)
1                     (0.0, 0.0)
2    (-0.05833333333333335, 0.4)
3                     (0.0, 0.0)
4                     (0.0, 0.0)
Name: tweet, dtype: object

In [24]:
combi['sentiment'] = combi['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
combi[['tweet','sentiment']].head()

                                               tweet  sentiment
0             thingsdonebymistake kissing auntie lip   0.000000
1  rt mc_derpin theolderweget pessimistic httpstc...   0.000000
2  rt dmataconis ready feel like failure joan arc...  -0.058333
3           amen blacklivesmatter httpstcowgffaoqgzl   0.000000
4  rt nahbabynah twitchy chuck todd caught shilli...   0.000000

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
# bag-of-words feature matrix
bow = bow_vectorizer.fit_transform(combi['tweet'])

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
# TF-IDF feature matrix
tfidf = tfidf_vectorizer.fit_transform(combi['tweet'])

print(train_bow.toarray())
print(tfidf.shape)
print(train_bow.shape)

AttributeError: info not found

In [41]:
#from sklearn.linear_model import LogisticRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import f1_score

#train_bow = bow[:203430,0:]

#combi = combi.values.reshape(combi.shape[503419:1000])
#combi = combi.transpose()

# splitting data into training and validation set
#xtrain_bow, xvalid_bow, ytrain, yvalid = train_test_split(train_bow, combi['tweet'], random_state=42, test_size=0.3)

#lreg = LogisticRegression()
#lreg.fit(xtrain_bow, ytrain) # training the model

#prediction = lreg.predict_proba(xvalid_bow) # predicting on the validation set
#prediction_int = prediction[:,1] >= 0.3 # if prediction is greater than or equal to 0.3 than 1 else 0
#prediction_int = prediction_int.astype(np.int)

#f1_score(yvalid, prediction_int) # calculating f1 score

In [42]:
combi.info

<bound method DataFrame.info of         Unnamed: 0                                              tweet  label  \
0                1             thingsdonebymistake kissing auntie lip      1
1                2  rt mc_derpin theolderweget pessimistic httpstc...      1
2                3  rt dmataconis ready feel like failure joan arc...      1
3                4           amen blacklivesmatter httpstcowgffaoqgzl      1
4                5  rt nahbabynah twitchy chuck todd caught shilli...      1
5                6  rt mcicero10 berniesanders trump people rally ...      1
6                7  rt itsjustjaynie hillaryclinton undecided vote...      1
7                8                                 todaycleveland way      1
8                9  nicktomawbre hi nick holding miner trump rally...      1
9               10               resolution my4wordnewyearsresolution      1
10              11  lifetime movie pet psycho neighbor digging gra...      1
11              12  rt conservatexian new post un alarm alshababs ...      1
12              13   rt hillaryclinton one hillary httpstcoktzpipszio      1
13              14  rt leonpui_ hillary clinton obama democrat use...      1
14              15  5th grade second plane hit thought school next...      1
15              16  teapartynews teaparty theteaparty politics con...      1
16              17  trumpbecause donaldtrump bought know spot poli...      1
17              18  rt dmashak debate chris wallace foxnewssunday ...      1
18              19  rt mikefdupjourney she_nutt youre welcome http...      1
19              20  rt prisonplanet hillary antitrump poster child...      1
20              21              sheriff joe arpaio speak rnc politics      1
21              22  rt truthbfree brewcitriot jjauthor humble abod...      1
22              23  rt trumpsuperpac africanamericans like jermonm...      1
23              24  rt american_woman4 magafeminineamerica4trumplg...      1
24              25  rt conservatexian news post twitter buries 32 ...      1
25              26  rt 1_hoof_hearted tuckercarlson jrubinblogger ...      1
26              27              cloud seeded conspiracysongs midnight      1
27              28  rt saramurray yet read new yorker cover story ...      1
28              29  rt ladyofcanoe reallifemagicspells bank accoun...      1
29              30  rt kyleneven1 omg remember everyone really wor...      1
...            ...                                                ...    ...
503389      299960  martin_lund_dk youre one who whining remember ...      0
503390      299961  martin_mills unfortunately need push website m...      0
503391      299962            martina_15 geez quick one good work hun      0
503392      299963  martina_nicole aah would love im uptown today ...      0
503393      299964                  martinabel hot cant wait see done      0
503394      299965  martinamcbride cant wait see get lyric seen wr...      0
503395      299966  martinamcbride wonderful sunday pretty pretty ...      0
503396      299967       martinamcbride figured mine every chance get      0
503397      299968            martinamcbride saw ur new video awesomr      0
503398      299969                           martinamcbride like idea      0
503399      299970  martinar2100 wait til next time see ya babygir...      0
503400      299971                  martinaronsen nah excerciceeeeeee      0
503401      299972  martinaustwick question methodology sample siz...      0
503402      299973            martinaxd lucky youuu yesterday studing      0
503403      299974                               martinboz thanks boz      0
503404      299975         martinbrossman mil boat glad able home tho      0
503405      299976         martinbrossman sorry hear martin give best      0
503406      299977                martincox p yousendit hasnt arrived      0
503407      299978  martincp putting camcorder back together one l...      0
503408      299979  martindave cool thanks including woman rock tw...      0
503409      299980  martindigon five year quotfree brekkie bikersq...      0
503410      299981               martindubow thanks following twitter      0
503411      299982       martindubow welcome friend list thank follow      0
503412      299983                            martindubow yeah envy u      0
503413      299984  martine2323 ok would rather stay sunday would ...      0
503414      299985  martine2323 morning petal work brought banking...      0
503415      299986  martinetrene hellolittle bird finally started ...      0
503416      299987  martinezmayra got u work go buy one u know ima...      0
503417      299988           martinfaux certainly give good interview      0
503418      299989  martinfaux weve feedback browser compatibility...      0

        word_count  char_count   avg_word  stopwords  hastags  numerics  \
0                6          47   7.000000          2        1         0
1                9          81   8.111111          4        1         0
2               22         125   4.727273          0        0         1
3                3          47  15.000000          0        1         0
4               18         140   6.421053          3        1         0
5               18         128   6.166667          7        3         0
6               18         116   5.500000          5        0         0
7                3          24   7.333333          0        0         0
8               19         140   6.421053          4        0         0
9                5          50   9.200000          0        1         0
10              18          99   5.857143          4        1         0
11              16         115   6.250000          5        0         0
12               8          72   8.125000          1        0         0
13              19         140   6.000000          5        0         0
14              17          82   4.714286          3        1         0
15               6          84  13.166667          0        5         0
16              14          87   5.285714          5        2         0
17              20         144   6.250000          5        2         0
18               7          73   9.571429          0        0         0
19              16         136   7.562500          2        0         0
20              11          55   4.500000          4        1         0
21              13          88   5.846154          3        0         0
22              18         140   6.833333          6        2         0
23              14         144   9.357143          2        1         0
24              16         136   7.500000          1        0         1
25              14         140   6.777778          3        5         0
26               7          53   6.714286          0        1         0
27              26         140   4.423077          9        0         1
28               7          62   9.333333          0        1         0
29              12         102   7.583333          3        0         0
...            ...         ...        ...        ...      ...       ...
503389          21         128   5.684211          7        0         0
503390          11          72   6.200000          4        0         0
503391          11          52   4.200000          3        0         0
503392          18          91   4.352941          6        0         1
503393          10          49   4.444444          2        0         0
503394          26         133   4.695652          9        0         0
503395          17          98   5.125000          6        0         0
503396          12          63   5.200000          3        0         0
503397          10          53   4.888889          3        0         0
503398           6          33   5.600000          1        0         0
503399          14          73   4.615385          2        0         0
503400           7          46   6.666667          2        0         0
503401          13          81   5.750000          3        0         0
503402           8          49   6.000000          2        0         0
503403           4          22   6.333333          0        0         0
503404          15          72   4.142857          7        0         0
503405          12          61   5.000000          4        0         0
503406           6          40   7.000000          1        0         0
503407          20          99   4.210526          7        0         0
503408          15          81   4.785714          6        0         0
503409          20         129   6.111111          6        0         0
503410           8          49   6.000000          3        0         0
503411          13          70   4.833333          6        0         0
503412           7          32   4.333333          1        0         0
503413          20          89   4.666667          4        0         0
503414          22         128   5.350000          5        0         0
503415          26         145   4.800000         11        0         0
503416          18          70   3.117647          2        0         0
503417           7          46   6.666667          0        0         0
503418          15          90   5.428571          5        0         0

        upper  sentiment
0           0   0.000000
1           1   0.000000
2           2  -0.058333
3           0   0.000000
4           2   0.000000
5           2   0.000000
6           1   0.000000
7           0   0.000000
8           0   0.250000
9           1   0.000000
10          0   0.000000
11          2   0.136364
12          1   0.000000
13          2   0.200000
14          1   0.000000
15          0   0.000000
16          0  -0.200000
17          1   0.000000
18          1   0.800000
19          2   0.000000
20          1   0.000000
21          1  -0.300000
22          1   0.000000
23          1   0.575000
24          3   0.000000
25          2  -0.083333
26          1   0.000000
27          1   0.028788
28          1   0.000000
29          2   0.200000
...       ...        ...
503389      1   0.000000
503390      0  -0.500000
503391      0   0.516667
503392      0   0.500000
503393      0   0.250000
503394      0   0.250000
503395      0   0.475000
503396      1   0.000000
503397      0   0.136364
503398      1   0.000000
503399      0   0.400000
503400      1   0.000000
503401      1   0.000000
503402      0   0.333333
503403      0   0.200000
503404      1   0.500000
503405      0   0.250000
503406      0   0.000000
503407      2   0.000000
503408      0   0.275000
503409      0   0.000000
503410      0   0.100000
503411      0   0.800000
503412      1   0.000000
503413      1   0.093750
503414      2   0.250000
503415      0   0.000000
503416      2   0.000000
503417      0   0.457143
503418      0   0.100000

[503419 rows x 11 columns]>