In [38]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

In [43]:
combi = pd.read_csv('/Users/michael/Downloads/training_data(1).csv', engine = 'python')
print(combi.shape)

combi.head()

(503419, 3)

   Unnamed: 0                                              tweet  label
0           1    #ThingsDoneByMistake kissing auntie in the lips      1
1           2  RT @mc_derpin: #TheOlderWeGet the more pessimi...      1
2           3  RT @dmataconis: Ready To Feel Like A Failure? ...      1
3           4    Amen! #blacklivesmatter https://t.co/wGffaOqgzl      1
4           5  RT @NahBabyNah: Twitchy: Chuck Todd caught out...      1

In [44]:
combi['word_count'] = combi['tweet'].apply(lambda x: len(str(x).split(" ")))
combi[['tweet','word_count']].head()

                                               tweet  word_count
0    #ThingsDoneByMistake kissing auntie in the lips           6
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...           9
2  RT @dmataconis: Ready To Feel Like A Failure? ...          22
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl           3
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...          18

In [45]:
combi['char_count'] = combi['tweet'].str.len() ## this also includes spaces
combi[['tweet','char_count']].head()

                                               tweet  char_count
0    #ThingsDoneByMistake kissing auntie in the lips          47
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...          81
2  RT @dmataconis: Ready To Feel Like A Failure? ...         125
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl          47
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...         140

In [46]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

combi['avg_word'] = combi['tweet'].apply(lambda x: avg_word(x))
combi[['tweet','avg_word']].head()

                                               tweet   avg_word
0    #ThingsDoneByMistake kissing auntie in the lips   7.000000
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...   8.111111
2  RT @dmataconis: Ready To Feel Like A Failure? ...   4.727273
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl  15.000000
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...   6.421053

In [47]:
from nltk.corpus import stopwords
#nltk.download()
stop = stopwords.words('english')

combi['stopwords'] = combi['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
combi[['tweet','stopwords']].head()

                                               tweet  stopwords
0    #ThingsDoneByMistake kissing auntie in the lips          2
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...          4
2  RT @dmataconis: Ready To Feel Like A Failure? ...          0
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl          0
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...          3

In [48]:
combi['hastags'] = combi['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
combi[['tweet','hastags']].head()

                                               tweet  hastags
0    #ThingsDoneByMistake kissing auntie in the lips        1
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...        1
2  RT @dmataconis: Ready To Feel Like A Failure? ...        0
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl        1
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...        1

In [49]:
combi['numerics'] = combi['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
combi[['tweet','numerics']].head()

                                               tweet  numerics
0    #ThingsDoneByMistake kissing auntie in the lips         0
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...         0
2  RT @dmataconis: Ready To Feel Like A Failure? ...         1
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl         0
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...         0

In [50]:
combi['upper'] = combi['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
combi[['tweet','upper']].head()

                                               tweet  upper
0    #ThingsDoneByMistake kissing auntie in the lips      0
1  RT @mc_derpin: #TheOlderWeGet the more pessimi...      1
2  RT @dmataconis: Ready To Feel Like A Failure? ...      2
3    Amen! #blacklivesmatter https://t.co/wGffaOqgzl      0
4  RT @NahBabyNah: Twitchy: Chuck Todd caught out...      2

In [51]:
combi['tweet'] = combi['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
combi['tweet'].head()

0      #thingsdonebymistake kissing auntie in the lips
1    rt @mc_derpin: #theolderweget the more pessimi...
2    rt @dmataconis: ready to feel like a failure? ...
3      amen! #blacklivesmatter https://t.co/wgffaoqgzl
4    rt @nahbabynah: twitchy: chuck todd caught out...
Name: tweet, dtype: object

In [52]:
combi['tweet'] = combi['tweet'].str.replace('[^\w\s]','')
combi['tweet'].head()

0       thingsdonebymistake kissing auntie in the lips
1    rt mc_derpin theolderweget the more pessimisti...
2    rt dmataconis ready to feel like a failure joa...
3             amen blacklivesmatter httpstcowgffaoqgzl
4    rt nahbabynah twitchy chuck todd caught out th...
Name: tweet, dtype: object

In [53]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
combi['tweet'] = combi['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
combi['tweet'].head()

0              thingsdonebymistake kissing auntie lips
1    rt mc_derpin theolderweget pessimistic httpstc...
2    rt dmataconis ready feel like failure joan arc...
3             amen blacklivesmatter httpstcowgffaoqgzl
4    rt nahbabynah twitchy chuck todd caught shilli...
Name: tweet, dtype: object

In [54]:
from textblob import TextBlob
combi['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0              thingsdonebymistake kissing auntie lips
1    it mc_derpin theolderweget pessimistic httpstc...
2    it dmataconis ready feel like failure joan arc...
3             amen blacklivesmatter httpstcowgffaoqgzl
4    it nahbabynah twitch chuck told caught shillin...
Name: tweet, dtype: object

In [55]:
TextBlob(combi['tweet'][1]).words

WordList(['rt', 'mc_derpin', 'theolderweget', 'pessimistic', 'httpstcozs3jhzjl8p'])

In [56]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
combi['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                    thingsdonebymistak kiss aunti lip
1    rt mc_derpin theolderweget pessimist httpstcoz...
2    rt dmataconi readi feel like failur joan arc 1...
3               amen blacklivesmatt httpstcowgffaoqgzl
4    rt nahbabynah twitchi chuck todd caught shill ...
Name: tweet, dtype: object

In [57]:
from textblob import Word
combi['tweet'] = combi['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
combi['tweet'].head()

0               thingsdonebymistake kissing auntie lip
1    rt mc_derpin theolderweget pessimistic httpstc...
2    rt dmataconis ready feel like failure joan arc...
3             amen blacklivesmatter httpstcowgffaoqgzl
4    rt nahbabynah twitchy chuck todd caught shilli...
Name: tweet, dtype: object

In [58]:
TextBlob(combi['tweet'][0]).ngrams(2)

[WordList(['thingsdonebymistake', 'kissing']),
 WordList(['kissing', 'auntie']),
 WordList(['auntie', 'lip'])]

In [59]:
tf1 = (combi['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

                words  tf
0       theolderweget   1
1  httpstcozs3jhzjl8p   1
2         pessimistic   1
3                  rt   1
4           mc_derpin   1

In [60]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(combi.shape[0]/(len(combi[combi['tweet'].str.contains(word)])))

tf1

                words  tf        idf
0       theolderweget   1  10.133446
1  httpstcozs3jhzjl8p   1  13.129178
2         pessimistic   1  10.644271
3                  rt   1   0.991598
4           mc_derpin   1   9.951124

In [61]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

                words  tf        idf      tfidf
0       theolderweget   1  10.133446  10.133446
1  httpstcozs3jhzjl8p   1  13.129178  13.129178
2         pessimistic   1  10.644271  10.644271
3                  rt   1   0.991598   0.991598
4           mc_derpin   1   9.951124   9.951124

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(combi['tweet'])

train_vect

<503419x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 1980331 stored elements in Compressed Sparse Row format>

In [63]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(combi['tweet'])
train_bow

<503419x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 2267928 stored elements in Compressed Sparse Row format>

In [64]:
combi['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)

0                     (0.0, 0.0)
1                     (0.0, 0.0)
2    (-0.05833333333333335, 0.4)
3                     (0.0, 0.0)
4                     (0.0, 0.0)
Name: tweet, dtype: object

In [65]:
combi['sentiment'] = combi['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
combi[['tweet','sentiment']].head()

                                               tweet  sentiment
0             thingsdonebymistake kissing auntie lip   0.000000
1  rt mc_derpin theolderweget pessimistic httpstc...   0.000000
2  rt dmataconis ready feel like failure joan arc...  -0.058333
3           amen blacklivesmatter httpstcowgffaoqgzl   0.000000
4  rt nahbabynah twitchy chuck todd caught shilli...   0.000000

In [84]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
# bag-of-words feature matrix
bow = bow_vectorizer.fit_transform(combi['tweet'])

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
# TF-IDF feature matrix
tfidf = tfidf_vectorizer.fit_transform(combi['tweet'])

print(tfidf.shape)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

train_bow = bow[:203430,:]

# splitting data into training and validation set
xtrain_bow, xvalid_bow, ytrain, yvalid = train_test_split(train_bow, combi['tweet'], random_state=42, test_size=0.3)

lreg = LogisticRegression()
lreg.fit(xtrain_bow, ytrain) # training the model

prediction = lreg.predict_proba(xvalid_bow) # predicting on the validation set
prediction_int = prediction[:,1] >= 0.3 # if prediction is greater than or equal to 0.3 than 1 else 0
prediction_int = prediction_int.astype(np.int)

f1_score(yvalid, prediction_int) # calculating f1 score